@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

/* Custom scrollbar for dark mode table */
::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 3px;
}
.dark ::-webkit-scrollbar-thumb {
  background: #475569;
}
